# LangSmith
LANGSMITH_API_KEY=lsv2_xxx
LANGSMITH_TRACING_V2=true
LANGSMITH_PROJECT=langchain-academy
# If you are on the EU instance also set
# LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com

# OpenAI
OPENAI_API_KEY=sk-xxx

# Tavily
TAVILY_API_KEY=tvly-xxx